@{
    ViewBag.Title = "Index";
}

<h2>Login Index</h2>

@using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }))
{
    <input type="submit" value="Log in" />
}



@Html.ActionLink("HomePage", "Index", "Home")
<div>
@Html.Label(ViewData["abc"].ToString())
</div>